mixin language()
  .language&attributes(attributes)
    input(type="hidden" name="language").language__select-input
    .language__select-head EN
    ul.language__select-list
      li.language__select-item RU
      li.language__select-item.language__select-item_active EN




