mixin page-partners()
    section(id="partners").partners
        .container
            .content
                .partners__container
                    +subtitle('Partners', 'Most of goods are Russian origin and purchased from the leading Russian producers. Our clients are strategic players in their respective markets. They rely on us to deliver good quality goods at the right time to the right place').partners__subtitle
                    .partners__block
                        .partners__swiper-containter.partners__swiper
                            ul.partners__list.swiper-wrapper
                                li.partners__item.swiper-slide
                                    img(src="img/content/synthopol.png" alt='Synthopol').partners__item-img
                                li.partners__item.swiper-slide
                                    img(src="img/content/basf.png" alt='Basf').partners__item-img
                                li.partners__item.swiper-slide
                                    img(src="img/content/gazprom.png" alt='gazprom').partners__item-img
                                li.partners__item.swiper-slide
                                    img(src="img/content/ineos.png" alt='ineos').partners__item-img
                                li.partners__item.swiper-slide
                                    img(src="img/content/synthopol.png" alt='Synthopol').partners__item-img
                                li.partners__item.swiper-slide
                                    img(src="img/content/basf.png" alt='Basf').partners__item-img
                                li.partners__item.swiper-slide
                                    img(src="img/content/gazprom.png" alt='gazprom').partners__item-img
                                li.partners__item.swiper-slide
                                    img(src="img/content/ineos.png" alt='ineos').partners__item-img
                        .partners__pagination.swiper-pagination
                        .partners__right-btn.swiper-button-next
                        .partners__left-btn.swiper-button-prev
                    +blockquote('Avestra is a well-structured and reliable supplier. The business model of Avestra offering value to our supply chain', 'Sauli Laakso, Managing director CH-Polymers , Finland')
                
              

