-
	const data = {
		projectpage: {
			title: 'Проекты «Тёплого дома»',
			links: [
				{name: 'Все проекты', link: '#', isactive: true},
				{name: 'Социальная помощь', link: '#'},
				{name: 'Психологическая помощь', link: '#'},
				{name: 'Совместные мероприятия', link: '#'},
				{name: 'Другое', link: '#'},
			]
		},
	}

