include ../pug/data.pug

//- components
//- include ../blocks/module/modal/modal.pug
//- include ../blocks/components/button/button.pug
//- include ../blocks/components/language/language.pug
//- include ../blocks/components/burger/burger.pug
//- include ../blocks/components/title/title.pug
//- include ../blocks/components/quote/quote.pug
//- include ../blocks/components/subtitle/subtitle.pug
//- include ../blocks/components/response/response.pug
//- include ../blocks/components/agreement/agreement.pug
//- include ../blocks/components/office/office.pug
//- include ../blocks/components/price/price.pug
//- include ../blocks/components/thanks/thanks.pug



//- include ../blocks/project/page-three-girls/page-three-girls.pug
//- include ../blocks/project/page-cristmas-tree/page-cristmas-tree.pug
//- include ../blocks/project/page-cristmas-tree-brunette/page-cristmas-tree.pug
//- include ../blocks/project/page-will-be-hot/page-will-be-hot.pug
include ../blocks/project/page-girl-video/page-girl-video.pug

//- include ../blocks/module/cards-news/cards-news.pug




