mixin agreement()
    .agreement
        .agreement__title Privacy Policy
        div(data-simplebar, class="agreement__content")
            | POLICY REGARDING THE PROCESSING OF PERSONAL DATA
            | 1. PURPOSE AND SCOPE OF THE DOCUMENT
            | 1.1 This document defines the policy of the AVESTRA Group of Companies (regarding the processing of personal data.
            | 1.2 This Policy has been developed in accordance with the current legislation of the Russian Federation on personal data.
            | 1.3 This Policy applies to all processes for the collection, recording, systematization, accumulation, storage, clarification, extraction, use, transfer (distribution, provision, access), depersonalization, blocking, deletion, destruction of personal data, carried out with the use of automation tools and without use of such funds.
            | 1.3 This Policy applies to all processes for the collection, recording, systematization, accumulation, storage, clarification, retrieval, use, transfer (distribution, provision, access), depersonalization, blocking, deletion, destruction of personal data.
            | 1. PURPOSE AND SCOPE OF THE DOCUMENT
            | 1.1 This document defines the policy of the AVESTRA Group of Companies (regarding the processing of personal data.
            | 1.2 This Policy has been developed in accordance with the current legislation of the Russian Federation on personal data.
            | 1.3 This Policy applies to all processes for the collection, recording, systematization, accumulation, storage, clarification, extraction, use, transfer (distribution, provision, access), depersonalization, blocking, deletion, destruction of personal data, carried out with the use of automation tools and without use of such funds.
            | 1.3 This Policy applies to all processes for the collection, recording, systematization, accumulation, storage, clarification, retrieval, use, transfer (distribution, provision, access), depersonalization, blocking, deletion, destruction of personal data.