mixin page-products()
  section(id="products").products
    .container
      .content
        .products__container
          +title('Products', `Product portfolio`, 'Avestra has the portfolio of wide range products. Most of goods are Russian origin and purchased from the leading Russian producers').products__title
          .products__content.products_swiper
            ul.products__list.swiper-wrapper
              li(data-id="all").products__item.products__item_active.swiper-slide All <span>products</span>
              li(data-id="monomers").products__item.swiper-slide Monomers
              li(data-id="acrylates").products__item.swiper-slide Acrylates
              li(data-id="alcohols").products__item.swiper-slide Alcohols
              li(data-id="other").products__item.swiper-slide Other
          div(id="all").products__tabs-container.products__tabs-container_active
            ul.products__list-tabs
              li.products__list-tabs-item
                p 2-Ethylhexanol (2-EH)
                button(class="js-products__cost products__button") Request a price
              li.products__list-tabs-item
                p Acetone
                button(class="js-products__cost products__button") Request a price
              li.products__list-tabs-item
                p Alpha Methylstyrene (AMS)
                button(class="js-products__cost products__button") Request a price
              li.products__list-tabs-item
                p Butyl Acrylate (BA)
                button(class="js-products__cost products__button") Request a price
              li.products__list-tabs-item
                p Isopropyl Alcohol (IPA)
                button(class="js-products__cost products__button") Request a price
              li.products__list-tabs-item
                p Isopropyl Alcohol (IPA)
                button(class="js-products__cost products__button") Request a price
              li.products__list-tabs-item
                p 2-Ethylhexanol (2-EH)
                button(class="js-products__cost products__button") Request a price
              li.products__list-tabs-item
                p Acetone
                button(class="js-products__cost products__button") Request a price
              li.products__list-tabs-item
                p Alpha Methylstyrene (AMS)
                button(class="js-products__cost products__button") Request a price
              li.products__list-tabs-item
                p Butyl Acrylate (BA)
                button(class="js-products__cost products__button") Request a price
              li.products__list-tabs-item
                p Isopropyl Alcohol (IPA)
                button(class="js-products__cost products__button") Request a price
              li.products__list-tabs-item
                p Isopropyl Alcohol (IPA)
                button(class="js-products__cost products__button") Request a price
              li.products__list-tabs-item
                p 2-Ethylhexanol (2-EH)
                button(class="js-products__cost products__button") Request a price
              li.products__list-tabs-item
                p Acetone
                button(class="js-products__cost products__button") Request a price
              li.products__list-tabs-item
                p Alpha Methylstyrene (AMS)
                button(class="js-products__cost products__button") Request a price
              li.products__list-tabs-item
                p Butyl Acrylate (BA)
                button(class="js-products__cost products__button") Request a price
              li.products__list-tabs-item
                p Isopropyl Alcohol (IPA)
                button(class="js-products__cost products__button") Request a price
              li.products__list-tabs-item
                p Isopropyl Alcohol (IPA)
                button(class="js-products__cost products__button") Request a price                
            .products__list-tabs-item-all
              button(class="products__button-all js-products__cost-all") Expand the list
          div(id="monomers").products__tabs-container
            ul.products__list-tabs
              li.products__list-tabs-item
                p 2-Ethylhexanol (2-EH)
                button(class="js-products__cost products__button") Request a price
              li.products__list-tabs-item
                p Acetone
                button(class="js-products__cost products__button") Request a price
              li.products__list-tabs-item
                p Alpha Methylstyrene (AMS)
                button(class="js-products__cost products__button") Request a price
              li.products__list-tabs-item
                p Butyl Acrylate (BA)
                button(class="js-products__cost products__button") Request a price
              li.products__list-tabs-item
                p Isopropyl Alcohol (IPA)
                button(class="js-products__cost products__button") Request a price
              li.products__list-tabs-item
                p Isopropyl Alcohol (IPA)
                button(class="js-products__cost products__button") Request a price
            .products__list-tabs-item-all
              button(class="products__button-all js-products__cost-all") Expand the list
          div(id="acrylates").products__tabs-container
            ul.products__list-tabs
              li.products__list-tabs-item
                p 2-Ethylhexanol (2-EH)
                button(class="js-products__cost products__button") Request a price
              li.products__list-tabs-item
                p Acetone
                button(class="js-products__cost products__button") Request a price
              li.products__list-tabs-item
                p Alpha Methylstyrene (AMS)
                button(class="js-products__cost products__button") Request a price
              li.products__list-tabs-item
                p Butyl Acrylate (BA)
                button(class="js-products__cost products__button") Request a price
              li.products__list-tabs-item
                p Isopropyl Alcohol (IPA)
                button(class="js-products__cost products__button") Request a price
              li.products__list-tabs-item
                p Isopropyl Alcohol (IPA)
                button(class="js-products__cost products__button") Request a price
            .products__list-tabs-item-all
              button(class="products__button-all js-products__cost-all") Expand the list
          div(id="alcohols").products__tabs-container
            ul.products__list-tabs
              li.products__list-tabs-item
                p 2-Ethylhexanol (2-EH)
                button(class="js-products__cost products__button") Request a price
              li.products__list-tabs-item
                p Acetone
                button(class="js-products__cost products__button") Request a price
              li.products__list-tabs-item
                p Alpha Methylstyrene (AMS)
                button(class="js-products__cost products__button") Request a price
              li.products__list-tabs-item
                p Butyl Acrylate (BA)
                button(class="js-products__cost products__button") Request a price
              li.products__list-tabs-item
                p Isopropyl Alcohol (IPA)
                button(class="js-products__cost products__button") Request a price
              li.products__list-tabs-item
                p Isopropyl Alcohol (IPA)
                button(class="js-products__cost products__button") Request a price
            .products__list-tabs-item-all
              button(class="products__button-all js-products__cost-all") Expand the list        
          div(id="other").products__tabs-container
            ul.products__list-tabs
              li.products__list-tabs-item
                p 2-Ethylhexanol (2-EH)
                button(class="js-products__cost products__button") Request a price
              li.products__list-tabs-item
                p Acetone
                button(class="js-products__cost products__button") Request a price
              li.products__list-tabs-item
                p Alpha Methylstyrene (AMS)
                button(class="js-products__cost products__button") Request a price
              li.products__list-tabs-item
                p Butyl Acrylate (BA)
                button(class="js-products__cost products__button") Request a price
              li.products__list-tabs-item
                p Isopropyl Alcohol (IPA)
                button(class="js-products__cost products__button") Request a price
              li.products__list-tabs-item
                p Isopropyl Alcohol (IPA)
                button(class="js-products__cost products__button") Request a price
            .products__list-tabs-item-all
              button(class="products__button-all js-products__cost-all") Expand the list
