mixin page-career()
    section(id="career").career
        .container
            .content
                +title('Career', `Our people is our <span>greatest asset</span>`, 'Most of our traders have more than 10 years experience in the industry, and have acquired a deep understanding of their specialist product markets. Our culture allowing employees to find creative solutions and make decisions. No challenge is too hard to tackle, that is how we make the difference').career__title
                .career__vacancies-container
                    ul.career__vacancies
                        li.career__vacancy
                            .career__vacancy-title <span>London, UK</span>Senior trader
                                .career__vacancy-btn
                            .career__vacancy-content
                                ul
                                    li Generate sales, achieve targets and payment collections within timeline.
                                    li Manage, retain and grow sales, increase market share by scouting for new customers.
                                    li Develop and manage customer relationships to drive revenue growth.
                                    li Identify new markets and business opportunities.
                                    li Negotiate the terms of contract and close sales deals.
                                button.career__vacancy-button Apply for this job
                        li.career__vacancy
                            .career__vacancy-title <span>Beijing , China</span>Operations analyst
                                .career__vacancy-btn
                            .career__vacancy-content
                                ul
                                    li Generate sales, achieve targets and payment collections within timeline.
                                    li Manage, retain and grow sales, increase market share by scouting for new customers.
                                    li Develop and manage customer relationships to drive revenue growth.
                                    li Identify new markets and business opportunities.
                                    li Negotiate the terms of contract and close sales deals.
                                button.career__vacancy-button Apply for this job
                        li.career__vacancy
                            .career__vacancy-title <span>Istanbul , Turkey</span>Market Intelligence Analyst
                                .career__vacancy-btn
                            .career__vacancy-content
                                ul
                                    li Generate sales, achieve targets and payment collections within timeline.
                                    li Manage, retain and grow sales, increase market share by scouting for new customers.
                                    li Develop and manage customer relationships to drive revenue growth.
                                    li Identify new markets and business opportunities.
                                    li Negotiate the terms of contract and close sales deals.
                                button.career__vacancy-button Apply for this job
