extends pug/layout.pug

block meta
  title Главная
//- block header

block content
  +page-girl-video()
  //- +page-cristmas-tree()
  //- +page-three-girls()
  //- +modal('tree')
  //- +modal
block footer
  //- +page-footer()
